[Unit]
Description=Run object detection
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/RPI-1/obj_detect.py
WorkingDirectory=/home/pi/RPI-1/
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
