absl-py==1.4.0
cffi==1.15.1
flatbuffers==20181003210633
imutils==0.5.4
numpy==1.21.6
opencv-python==4.5.3.56
Pillow==9.5.0
pkg_resources==0.0.0
protobuf==3.20.3
pybind11==2.10.4
pycparser==2.21
sounddevice==0.4.6
tflite==2.10.0
tflite-runtime==2.5.0
tflite-support==0.4.3
