<!DOCTYPE html>
<html>
<head>
    <title>Motion Detection Log</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        /* Inline CSS styles */
        .data-table {
            border-collapse: collapse;
            width: 100%;
        }

        .data-table th,
        .data-table td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .data-table th {
            background-color: #f2f2f2;
        }
    </style>
    <script>
        var length = {{ length }};

        // Function to retrieve and display new data
        function displayNewData() {
            $.getJSON('/get_new_data', function(data) {

                //Check to display alert box
                if (data.length > length) {
                    //var message = "length: " + length + ' new length: ' + data.length;
                    var message = "Place of motion detection: "  + data[length]['Place'] + '\nTime of motion detection: ' + data[length]['Time']
                    alert(message);

                    length = data.length;
                }

                // Update the webpage content with the new data
                var html = '<table class="data-table">';
        
                // Generate table headers
                html += '<tr><th>Place</th><th>Time</th><th>Coordinates</th></tr>';

                // Generate table rows
                for (var i = 0; i < data.length; i++) {
                    var place = data[i]['Place'];
                    var time = data[i]['Time'];
                    var coords = data[i]['Coordinates'];
                    html += '<tr><td>' + place + '</td><td>' + time + '</td><td>' + coords + '</td></tr>';
                }

                html += '</table>';

                // Update the webpage content with the new data
                $('#data-container').html(html);
            });
        }
        // Periodically call the function to check for new data
        setInterval(displayNewData, 5000); // Refresh every 5 seconds
    </script>
</head>
<body>
    <h1>Motion Detection Log</h1>
    <div id="data-container"></div>
</body>
</html>
